@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
:root {
    --blue-accent-color: #61dafb;
    --dark-bg-color: #21222a;
    --med-bg-color: #282d35;
    --off-white-color: #deebf8;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

#root {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px -2px gray;
    background-color: var(--dark-bg-color);
    padding: 30px 25px;
}

.header-left {
    display: flex;
    color: var(--blue-accent-color);
    font-weight: 700;
    font-size: 1.5rem;
    align-items: center;
}

.header-right {
    color: var(--off-white-color);
    font-weight: 500;
}

.logo {
    width: 40px;
}

.logo-div {
    padding: 10px;
}

main {
    padding: 35px 27px;
    background-color: var(--med-bg-color);
    color: white;
}

.main-title {
    font-size: 2.5rem;
}

main {
    flex-grow: 1;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.facts-list {
    font-weight: 300;
}

.facts-list > li::marker {
    color: var(--blue-accent-color);
    font-size: 1.4rem;
}

.facts-list > li{
    line-height: 19px;
    padding-block: 10px;
}

